<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <main>
        <div class="add-car-container">
            <form action="/api/new" method="POST" enctype="multipart/form-data">
                <label for="model">Model:</label>
                <input placeholder="model" type="text" name="model"><br>
                <label for="color">Color:</label>
                <input placeholder="color" type="text" name="color"><br>
                <label for="consumption">Consumption:</label>
                <input placeholder="consumption" type="text" name="consumption"><br>
                <label for="speed">Speed:</label>
                <input placeholder="speed" type="text" name="speed"><br>
                <label for="price">Price:</label>
                <input placeholder="price" type="text" name="price"><br>
                <label for="overclocking">Overclocking:</label>
                <input placeholder="overclocking" type="text" name="overclocking"><br>
                <label for="battery">Battery:</label>
                <input placeholder="battery" type="text" name="battery"><br>
                <label for="year">Model Year:</label>
                <input placeholder="name" type="text" name="year"><br>
                <label for="engine">Engine:</label>
                <input placeholder="engine" type="text" name="engine"><br>
                <label for="seats">Seats:</label>
                <input placeholder="seats" type="text" name="seats"><br>
                <label for="transmission">Tranmission:</label>
                <input placeholder="transmission" type="text" name="transmission"><br>
                <label for="carImage">Image:</label>
                <input type="file" name="carImage">
                <button type="submit">Add</button>
            </form>
        </div>
    </main>
</body>
</html>